[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "evolMap"]
	path = evolMap
	url = https://github.com/modesto-escobar/evolmap
[submodule "netCoin"]
	path = netCoin
	url = https://github.com/modesto-escobar/netcoin-2.x
[submodule "rD3plot"]
	path = rD3plot
	url = https://github.com/modesto-escobar/rd3plot
[submodule "wikiTools"]
	path = wikiTools
	url = https://github.com/modesto-escobar/wikitools
